* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-size: 100%;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 65px 153px 0 122px;
    padding: 0;
    width: 1005px;
    height: 23px;
}

#logo {
    width: 103px;
    height: 22px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
}

ul li a {
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    font-size: 18px;
    list-style: none;
    color: #1F1534;
    opacity: 0.5;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 58px 153px 0 122px;
    width: 1008px;
    height: 433px;
}

div {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 40px;
    width: 489px;
    height: 236px;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    font-size: 49px;
    line-height: 56px;
    color: #000000;
}

h1 span {
    font-weight: bold;
    color: #89C5CC;
}

#div-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 179px;
    height: 56px;
    padding: 14px 32px 15px;
    background: #69B99D;
    border-radius: 4px;
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F9F9F9;
    transition: filter .2s;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

button img {
    width: 24px;
    height: 24px;
}

#main-img {
    width: 417px;
    height: 433px;
}

#footer-text {
    text-align: center;
    margin: 82px auto 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
}

#footer-text a {
    color: #000;
}

#decoration {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 98px;
    height: 88px;
}